<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<title>
		Login Page
	</title>
</head>
<body>
	{% include "nav.html" %}
	<br><br>
	<h3><center>
		<form name="login" action="" method="post" class="pure-form">
			{{ form.hidden_tag()}}
			<p>
				{{ form.user.label }}<br>
				{{ form.user(size=8) }}<br>

				{{ form.password.label }}<br>
				{{ form.password(size=8) }}<br>
 			</p>
 			<p>{{ form.submit() }}</p>
 			</form>
	</center>
	<br>
	<br>

{% include "footer.html" %}
</body>
</html>